<!-- Favicons -->
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Pacifico" rel="stylesheet"> 
<!-- Top Header Start -->
<section id="top-header">
    <div class="logo">
        <img src="{{ asset('build/images/log.png') }}"/>
    </div>
</section>
<!-- Header Start -->
<header id="header">
    <div class="container">
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="index.html.twig">Accueil</a></li>
                <li><a href="carte.html">Carte</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="galerie.html">Galerie</a></li>
                <li><a href="reservation.html">Réservation</a></li>
                <li><a href="pages/security/login.html.twig">Se connecter</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header End -->