/* ================================================= */
/* ---------------- Top Header CSS ----------------- */
/* ================================================= */


#top-header {
  position: relative;
  width: 100%;
  // margin: 0 auto;
  background-color: #353535;
  position: relative;
  // width: 220px;
  margin: 0 auto;

}

#top-header .logo span {
  margin: 0 auto;

  color: #bc9b5d;
  text-shadow: 0 4px 4px black;
}

#top-header .logo span:nth-of-type(1) {
    font-family: 'Jacques Francois Shadow', cursive;
  font-size: 38px;
}

#top-header .logo span:nth-of-type(2) {
  font-family: 'Montserrat';
  font-size: 28px;
}
#top-header .logo .table-set-icon{
  height: 56px;
  width: auto;
}

// @media screen and (min-width: 767.98px) {
//   #top-header .logo {
//     // width: 300px;
//   }
// }