/* ================================================= */
/* ---------------- Top Header CSS ----------------- */
/* ================================================= */

#top-header {
  position: relative;
  width: 100%;
  margin: 15px 0;
}

#top-header .logo {
  position: relative;
  width: 220px;
  margin: 0 auto;
}

#top-header .logo img {
  width: 100%;
}

@media screen and (min-width: 767.98px) {
  #top-header .logo {
    width: 300px;
  }
}
