#carte {
    background-color: black;
}

#carte-body {
    background-color: black;
}

#carte-body .card-body .list-group .list-group-item {
    background-color: inherit;
    color: #ffffff;
    border-bottom: solid 1px #bc9b5d;
}

.page-carte .card {

    border: 1px solid #bc9b5d !important;
    img {
        height: 320px;
        object-fit: cover;
    }
}


