 .page-carte {
     background-color: #353535;
 }

 .page-carte .card {

     border: 1px solid #d3d3d3 !important;

     img {
         height: 320px;
         object-fit: cover;
     }
 }

 .page-carte .card .card-header {
     background-color: #ffffff !important;
 }

 #carte {
     background-color: #353535;
 }