.page-menu {
  background-color: black;
}

.page-menu .card {

  border: 1px solid #bc9b5d !important;

  img {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }
}

.page-menu .card .card-header {
  background-color: black;
  color: #ffffff;
}

.page-menu .card .card-body,
.page-menu .card .card-footer {
  border: 1px solid #bc9b5d;
    border-left: none;
    border-right: none;

  background-color: black;
  color: #ffffff;
  padding-block: 1.2rem;
}

.page-menu .card .card-footer{
      border: none;
}

