/* ================================================= */
/* ---------------- Reservations CSS --------------- */
/* ================================================= */
#reservations {
    padding: 20px 0;
    text-align: center;
    position: relative;
    background: #353535;
}

