/* ================================================= */
/* ---------------- Reservations CSS --------------- */
/* ================================================= */
.reservation-page {
  padding: 20px 0;
  text-align: center;
  position: relative;
  background: #353535;
}

.reservation-page legend {
  width: 100%;
  text-align: center;
}
