<!DOCTYPE html>
<html lang="fr"></html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Restaurant Quai Antique"/>
		<meta name="keywords" content="Le chef Arnaud Michant passionné par le Mexique est ravi de vous accueillir au sein de son nouveau restaurant au coeur de Nantes.
			Le Quai Antique vous propose au déjeuner comme au dîner une expérience gustative hors du commun, qui à n'en point douter , ravira vos papilles et vous fera voyager dans un univers rempli d'exotisme."/>
		<meta name="author" content="KiraDev"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="copyright" content="Titulaire des droits"/>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/></head>
</html></script><title>
{% block title %}Quai Antique
{% endblock %}</title>{% block stylesheets %}
{{ encore_entry_link_tags('app') }}{% endblock %}{% block javascripts %}
{{ encore_entry_script_tags('app') }}{% endblock %}</head><body>{% set route_name = app.request.attributes.get('_route') %}{% block header %}
{% include "_partials/_header.html.twig" %}{% endblock %}{% block body %}{% endblock %}{% block footer %}
{% include "_partials/_footer.html.twig" %}{% endblock %}{% block scripts %}{% endblock %}</body></html>
