{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!{% endblock %}

{% block body %}
<div class="container">
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-dark"><h4>~ Formule du midi ~</h4></div>
  <div class="card-body text-dark">
    <p class="card-text text-center">- Entrée au choix<br>- Plat du jour</p>
  </div>
  <div class="card-footer bg-transparent border-dark text-center">20 €</div>
</div>
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-dark"><h5>~ Formule du soir ~</h5></div>
  <div class="card-body text-dark">
    <p class="card-text text-center">- Plat au choix<br>- Dessert du jour</p>
  </div>
  <div class="card-footer bg-transparent border-dark text-center">20 €</div>
</div>
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-dark"><h5>~ Formule enfant ~</h5></div>
  <div class="card-body text-dark">
    <p class="card-text text-center">- Steack frite<br>- Dessert du jour</p>
  </div>
  <div class="card-footer bg-transparent border-dark text-center">12 €</div>
</div>
</div>

{% endblock %}
